<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.yezac2.global.config.security.auth.mapper.LoginMapper">

    <select id="login" parameterType="test.yezac2.global.config.security.auth.dto.LoginReq"
            resultType="test.yezac2.global.config.security.auth.dto.LoginResp">
        SELECT
            id
             , email
             , password
             , auth_type
             , hospital_id
        FROM users
        WHERE email = #{username}
    </select>


    <select id="getUserIdByEmail" parameterType="String" resultType="Long">
        SELECT id
        FROM users
        WHERE email = #{email}
    </select>

</mapper>